{% extends 'base.html.twig' %}

{% block title %}Timeline{% endblock %}

{% block body %}
    <h1>Timeline</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timeline.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ timeline.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ timeline.date }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ timeline.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cms') }}">back to list</a>

    <a href="{{ path('timeline-edit', {'id': timeline.id}) }}">edit</a>

    {{ include('timeline/_delete_form.html.twig') }}
{% endblock %}
