{% extends 'base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{asset('css/index.css')}}"/>
{% endblock %}

{% block body %}
    <div id="pagination">
        <hr class="pag barActive" id="pag-1" onclick="setPag(2)"/>
        <hr class="pag" id="pag-2" onclick="setPag(3)"/>
        <hr class="pag" id="pag-3" onclick="setPag(4)"/>
        <hr class="pag" id="pag-4" onclick="setPag(5)"/>
    </div>

    <i class="far fa-chevron-double-up chevron-up chevron-ghost" onclick="setPag(1)" id="arrow_desktop_up"></i>
    <div class="wrapper wrapper-1" onwheel="myScript">
        <div id="Presentation">
            <div id="Image_Profil">
                <img src={{asset("images/Profil_Sebastien.png")}}/>
                <h1>
                    セバスチャン
                </h1>
            </div>
            <p id="Description">
                Développeur Web (Full Stack) et Vidéaste.
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                                                                                                                                                                                                                                                                      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div id="Derniers_Articles">
            <h2>
                DERNIERS ARTICLES
            </h2>
            <div id="Contenu_Accueil">
                {% for article in articles %}
                <div class="Contenu_Classe">
                    <div class="article-case">
                        <img src="{{asset(article.image.path)}}">
                        <a href="{{path('lecture-article',{"path": article.path} )}}"></a>
                    </div>
                    <a href="{{path('lecture-article',{"path": article.path} )}}">
                        <h3 class="Titre_Contenu">{{article.titre}}</h3>
                        <h4 class="Date_Contenu">{{article.date|localizeddate('none', 'none', null, null, 'EEEE d ')|capitalize }}</h4>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="wrapper wrapper-2 pagActive" onwheel="myScript">
        <div id="app" v-if="timeline">
            <div id="arrow">
                <i class="fas fa-sort-up" id="chevron_post" v-on:click="direction('top')"></i>
                <div id="timelineBar">
                    <div class="TimelineLoop" v-for="(event,key) in timeline">
                        <div class="bar"></div>
                        <div class="circle" v-bind:style=" event.isActive ? 'background: #37c8ae;' : 'background: white;' "  v-on:click="setKey(key)">
                            { event.id }
                            <div class="insideCircle"></div>
                        </div>
                    </div>
                </div>
                <i class="fas fa-sort-down" id="chevron_past" v-on:click="direction('bottom')"></i>
            </div>
            <div id="timeline-content">
                <h2>{timeline[key].titre}</h2>
                <p class="timeline-content-date">date</p>
                <hr/>
                <img src={{asset("images/Faeriths_PressStart_Blanc.png")}} alt="Logo de Faerith's">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est    laborum.</p>
            </div>
        </div>

    </div>

    <div class="wrapper wrapper-3 pagActive">
        <h2>Compétences</h2>
        <hr/>
<div id="container">
  <i class="far fa-angle-left icone-awesome button-prev" aria-hidden v-on:click="directionSkill('left')"></i>
              <div id="flip-content">

            {% for skill  in skills %}
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <span class="name">
                                <i class="{{skill.icone}}"></i>
                            </span>
                        </div>
                        <div class="back">
                            <div class="back-logo">
                                <p>{{skill.name}}</p>
                            </div>
                            <p>{{skill.description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

          </div>
<i class="far fa-angle-right icone-awesome button-next" aria-hidden v-on:click="directionSkill('right')"></i>
</div>
      </div>


    <div class="wrapper wrapper-4 pagActive" onwheel="myScript">
        <h2>Retrouvez-moi sur :</h2>
        <div id="wrap-4-content">
            <a href="https://com4up.fr" id="com4up">
                <img src={{asset("images/Com4up.png")}} alt="Logo de Com4Up">
            </a>
            <hr/>
            <a href="#" id="faeriths">
                <img src={{asset("images/Faeriths_PressStart_Blanc.png")}} alt="Logo de Faerith's">
            </a>
        </div>
    </div>
    <i class="far fa-chevron-double-down chevron-down" onclick="setPag(0)"  id="arrow_desktop_down"></i>
{% endblock %}

{% block javascripts %}


    <script>
        var pag = 1;

        function setPag(number) {
            if (number == 0) {
                pag++;
            } else if (number == 1) {
                pag--;
            } else if (number == 2) {
                pag = 1;
            } else if (number == 3) {
                pag = 2;
            } else if (number == 4) {
                pag = 3;
            } else if (number == 5) {
                pag = 4;
            }

            if (pag < 1) {
                pag = 1;
            } else if (pag > 4) {
                pag = 4;
            }
            $('.chevron-up').removeClass('chevron-ghost');
            $('.chevron-down').removeClass('chevron-ghost');
            $('.pag').removeClass('barActive');
            $('.wrapper').addClass('pagActive');


            if (pag == 1) {
                $('.chevron-up').addClass('chevron-ghost');
                $('#pag-1').addClass('barActive');
                $('.wrapper-1').removeClass('pagActive');
            } else if (pag == 2) {
                $('#pag-2').addClass('barActive');
                $('.wrapper-2').removeClass('pagActive');
            } else if (pag == 3) {
                $('#pag-3').addClass('barActive');
                $('.wrapper-3').removeClass('pagActive');
            } else if (pag == 4) {
                $('.chevron-down').addClass('chevron-ghost');
                $('#pag-4').addClass('barActive');
                $('.wrapper-4').removeClass('pagActive');
            }
        }
        var i = 0;
        var myimage = document.getElementById("main-content");
        if (myimage.addEventListener) { // IE9, Chrome, Safari, Opera
            myimage.addEventListener("mousewheel", MouseWheelHandler, false);
            // Firefox
            myimage.addEventListener("DOMMouseScroll", MouseWheelHandler, false);
        }
        // IE 6/7/8 else
        myimage.attachEvent("onmousewheel", MouseWheelHandler);


        function MouseWheelHandler(e) {
          var larg = (window.innerWidth);
          if (larg > 1024) {// cross-browser wheel delta
            var e = window.event || e; // old IE support
            var delta = (e.wheelDelta || - e.detail);

            if (delta > 0) {
                setPag(1);
            } else if (delta < 0) {
                setPag(0);
            }
            return false;
          }
        }


    </script>
    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src={{asset("js/vue.js") }}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: [
                '{', '}'
            ],
            data: {
                timeline: [],
                key: 0,
                c: 1,
                d: 1
            },
            methods: {
                sayHello() {
                    alert("hello");
                },
                direction(direction) {
                    if (direction == "bottom")
                        this.c ++;
                     else if (direction == "top")
                        this.c --;
                    $('#timelineBar>div').css({
                        top: 'calc(7.35em * ' + this.c + ')'
                    });

                    // $('#timelineBar>div').css( { left: '20px' } );
                    // alert(direction);
                },
                setKey(key) {
                    this.timeline[this.key].isActive = false;
                    this.key = key;
                    this.timeline[this.key].isActive = true;
                },
                getTimeline() {
                    axios({method: 'POST', url: '/get-timeline'}).then(response => {
                        var getUrl = window.location;
                        var json = JSON.parse(response.data);
                        var object = this;
                        this.timeline = [];

                        $.each(json, function (key, value) {
                            isActive = false;
                            if(key == 0)
                                isActive = true;
                            object.timeline.push({"titre": value.titre, "description": value.description, "date": value.date, "isActive": isActive});
                        });

                    })
                }
            },
            mounted: function () {
                this.getTimeline();
            }
        })

        var flip = new Vue({
            el: '#container',
            delimiters: [
                '{', '}'
            ],
            data: {
                d: 1
            },
            methods: {
              directionSkill(direction) {
                if (direction == "left")
                  this.d ++;
               else if (direction == "right")
                  this.d --;
                $('#flip-content>div').css({
                  right: 'calc(23em * ' + this.d + ')'
              });
            }
          }
        })
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            console.log(document.getElementById('chevron_past'))
        });
    </script>
{% endblock %}
