{% extends 'base.html.twig' %}
{% block title %}
    Lecture Projet
{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{{asset("css/lecture_projet.css")}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset("css/swiper.min.css")}}"/>
{% endblock %}
{% block body%}
    <div id="wrapper">
        <div id="Padding_Wrapper">
            <div id="Haut">
                <h1>{{projet.title}}</h1>
                <div id="Seconde_Ligne">
                    <h2>{{ projet.date|localizeddate('none', 'none', null, null, 'MMMM Y ')|capitalize }}</h2>
                    <div id="Categorie_Projet">
                        <i class="fal fa-browser" aria-hidden></i>
                        <h3>{{projet.categorie}}</h3>
                    </div>
                </div>
            </div>

            <div id="Contenu">
                <h3 id="Role">Rôle :&nbsp;<span>Développeur Front-End</span>
                </h3>
                <h3 id="Client">Client :&nbsp;<span>{{ projet.client }}</span>
                </h3>
                <h3 id="Langages">Compétences :&nbsp;<span> 
                {% for skill in project.skill %}
                        {{ skill.icon|raw }}
                {% endfor %}</span>
                </h3>
                <h3 id="Lien">Lien :&nbsp;<a href="{{ projet.URLSite }}" target="_blank">{{ projet.URLSite }}</a>
                </span>
            </h3>
            <h3 id="Description">Description :&nbsp;<span>{{ projet.description }}</span>
            </h3>
            <div
                id="Apercu">
                <!-- Swiper -->
                <div class="button-prev">
                    <i aria-hidden class="fas fa-arrow-circle-left"></i>
                </div>
                <div class="swiper-container">

                    <div class="swiper-wrapper">
                        {% for img in projet.gallery %}
                            <div class="swiper-slide"><img class="myImg" src="{{asset(img.path)}}" alt="{{img.alt}}"></div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->

                </div>
                <div class="button-next">
                    <i aria-hidden class="fas fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>

        <div id="Partage">
            <h4>Partager</h4>
            <div id="Social_Icones">
                <i class="fab fa-facebook" aria-hidden></i>
                <i class="fab fa-twitter" aria-hidden></i>
                <i class="fab fa-tumblr-square" aria-hidden></i>
            </div>
        </div>
    </div>

</div>
<div
    class="modal close" id="myModal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img
    class="myImgZoom" id="imgZoom" src={{asset("images/projets/fas1.jpg")}} alt="Aperçu Faeriths">

    <!-- Modal Caption (Image Text) -->
    <div class="caption" id="caption"></div>
</div>{% endblock %}
{% block js %}

<script src="../js/swiper.min.js" type="text/javascript"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.button-next',
        prevButton: '.button-prev',
        slidesPerView: 3,
        paginationClickable: false,
        spaceBetween: 33,
        loop: true
    });
</script>

<script>
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementsByClassName('myImg');
    var modalImg = document.getElementById("imgZoom");
    var captionText = document.getElementById("caption");
    for (let element of img) {
        element.onclick = function () {
            document.getElementById("myModal").style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        document.getElementById("myModal").style.display = "none";
    }
</script>{% endblock %}
