{% extends 'base.html.twig' %}
{% block title %}
  Lecture
{% endblock %}
  {% block css %}
  <link type="text/css" rel="stylesheet" href={{asset("css/Lecture.css")}}/>
  {% endblock %}
  {% block body%}
    <div id="wrapper">
      <div id="Padding_Wrapper">
        <div id="Haut">
          <h1>{{article.titre}}</h1>
          <div id="Seconde_Ligne">
            <h2>{{ article.date|localizeddate('none', 'none', null, null, 'd MMMM Y ')|capitalize }}</h2>
            <h3>{{ article.tag|raw }}</h3>
          </div>
        </div>

        <p id="Contenu">
          {{article.texte|raw}}
        </p>

        <div id="Partage">
          <h4>Partager</h4>
          <div id="Social_Icones">
            <i class="fab fa-facebook" aria-hidden></i>
            <i class="fab fa-twitter" aria-hidden></i>
            <i class="fab fa-tumblr-square" aria-hidden></i>
          </div>
        </div>
        <h5 id="Commentaires"><span>{{article.commentaires|length}}</span> Commentaires</h5>
        <div>
        {% for comment in article.commentaires %}
          <h6 class="Pseudo_Commentaire"><span>{{comment.username}}</span>, le <span> {{ comment.date|localizeddate('none', 'none', null, null, 'd/MM/y ')}}</span> à <span>{{ comment.date|localizeddate('none', 'none', null, null, 'HH:mm')}}</span></h6>
          <div id="Commentaire_Answer">
            <p class="Paragraphe_Commentaire">
              {{comment.texte}}
            </p>
          </div>
        </div>
        {% endfor %}
        <div id="Poster_Commentaire">
          <p>
            Poster un commentaire
          </p>
            {{form_start(form)}}
            {{form_widget(form.username)}}
            {{form_widget(form.texte,  {'id': 'Zone_com'}) }}
			<div id="Bouton_envoie">
                <button>
                    ENVOYER
                </button>
            </div>
            {{form_end(form)}}
        </div>

      </div>

    </div>
{% endblock %}
